@tailwind base;
@tailwind components;
@tailwind utilities;

@import './custom.css';

@layer base {
  body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
  }
}

@layer components {
  .white-text, .white-text * {
    color: #ffffff !important;
  }
}
